<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Test</title>
    <meta name="description" content="" />

    <link rel="stylesheet" href="../dist/css/style.css" />

    <script defer src="../dist/js/main.js"></script>
    <!-- type="module" -->
    <!-- defer allow lazy load and type=module enable import js files -->
  </head>
  <header>header included</header>
  <body></body>
</html>
