<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Reloading Fix</title>
    <meta name="description" content="" />

    <link rel="stylesheet" href="./css/style.css" />

    <script defer src="./js/main.js"></script>
    <!-- type="module" -->
    <!-- defer allow lazy load and type=module enable import js files -->
  </head>
  <header>header included</header>
  <body>
    <p>test elements</p>

    <h1>gulp is working fine</h1>
  </body>
</html>
